<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Master.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slider")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.bxslider.js")
    @Styles.Render("~/Content/jquery.bxslider.css")
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

    @RenderSection("scripts", required: false)
</head>
    <body>
        <div class="header">
            @*logo*@
            <div id="logo">
                <img src="~/Content/Images/Logo-IAESTE-white-transparent-background1.png" height="200" />
                <p id="logoText">Ukraine</p>
            </div>

            @*splitter*@
            <div class="splitter">
            </div>

            @*navigation*@
            <div class="navDiv">
                <label for="show-menu" class="show-menu">Show Menu</label>
                <input type="checkbox" id="show-menu" role="button" />
                <ul id="menu">
                    <li class="current"><a href="@Url.Action("Index","Home")">Головна</a></li>
                    <li><a href="#">Вимоги</a></li>
                    <li>
                        <a href="#">Конференція</a>
                        <ul class="hidden">
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2016</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Інтернаціоналізація освіти</a></li>
                    <li><a href="@Url.Action("Offers", "Home")">Офери</a></li>
                    <li><a href="@Url.Action("FAQ", "Home")">FAQ</a></li>
                </ul>
            </div>

            @*splitter*@
            <div class="splitter">
            </div>

        </div>

        @RenderBody()

        @*splitter*@
        @*<div class="splitter">
        </div>*@

        @*<div class="footer"></div>*@
       
    </body>
</html>
