@model IEnumerable<string>

@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Offers.css")

<h2>Offers</h2>

<div class="offers" >
   @foreach (var str in @Model)
   {
    <div class="offerContainer">
        <p class="offerDesc">Offer Description is here. tesl big text is here. lalallaa; </p>
        <object data="@Url.Content(str)" type="application/pdf"></object>
        <div style="background: #2f3036"><a href="@Url.Content(str)" target="blank">View Details</a></div>

    </div>
   }  
</div>

<form action="@Url.Action("Offers")" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" multiple />
    <br />
    <input type="submit" />
    <p>@ViewBag.Message </p>
</form>

